<div class="col col-lg-3">
<h2>Navigation</h2>
<ul>
    <li><a href="{% url 'home' %}">Ratings</a></li>
    {% if request.user.is_authenticated %}
    <li><a href="{% url 'own_projects' %}">Manage Projects</a></li>
    <li><a href="{% url 'logout' %}">Logout</a></li>
    {% else %}
    <li><a href="{% url 'login' %}">Login</a></li>
    <li><a href="{% url 'register' %}">Register</a></li>
    {% endif %}
</ul>
</div>