<select class="{{ object_type }}-rating" data-model-name="{{ object_type }}"
        name="{{ object_type }}-rating-{{ value }}" autocomplete="off" data-id="{{ value }}">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5">5</option>
</select>