{% extends 'base.html' %}
{% block content %}
    <form method="post">
    {% csrf_token %}
        <p>Please confirm DELETE operation</p>
    <input type="submit" value="Confirm" class="btn btn-dark">
    </form>
{% endblock %}