{% extends 'base.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% block top_scripts %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/css-stars.css' %}">
{% endblock %}
{% block content %}
        {% include 'utils/navigation.html' %}
        <div class="col col-lg-6">
        <h2>Projects Rating</h2>
        <form>
            {% render_table projects %}
        </form>

        </div>
        <div class="col col-lg-3">
        <h2>User Rating</h2>
        <form>
            {% render_table accounts %}
        </form>
        </div>


    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="globalModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="globalModalLabel">Info</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body server-response">
            <p></p>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
{% block bottom_scripts %}
    <script src="{% static 'js/jquery.barrating.js' %}"></script>
    <script>
    $(document).ready(function () {
        var tokens_left = $('.tokens-left').html() || $("#anonymous_token").val();
        var opts = {
            theme: 'css-stars',
            showSelectedRating: false
        };
        $('.account-rating, .project-rating').barrating(opts);
        if(tokens_left == 0) {
            $('.account-rating, .project-rating').barrating(opts).barrating('readonly', true);
        }
        $(".account-rating, .project-rating").on('change', function () {

            if(tokens_left == -1 || tokens_left > 0){
                $.ajax({
                    method: 'POST',
                    url: '/ratings/vote_'+$(this).attr('data-model-name')+'/'+$(this).attr('data-id')+'/',
                    data: 'value='+$(this).val()
                    }
                    ).done(function (data) {
                        // alert(data.message);
                        $(".bd-example-modal-lg .server-response p").html(data.message);
                        $(".bd-example-modal-lg").modal('show');
                        if(data.tokens_amount){
                            $('.tokens-left').html(data.tokens_amount);
                        }
                        if(data.tokens_left){
                            $('.account-rating, .project-rating').barrating('readonly', true);
                            $("#anonymous_token").val(0)
                        }
                    })
            }
        })
    });

    </script>
{% endblock %}